hashcalc v0.1.0-dev - Generate a hash of text or file contents
Copyright © 2025-2026 Martin Smith

Usage: hashcalc.exe [OPTIONS]

Options:
  -t, --text <TEXT>            The text to generate a hash for (mutually exclusive with --file)
  -f, --file <FILE>            Path to file to hash
  -w, --write                  Write output to file instead of stdout (requires --file)
  -a, --algorithm <ALGORITHM>  Hash algorithm to use: sha1, md5, sha256, sha512, base64 [default:
                               sha256]
  -h, --help                   Print help [aliases: -?]
  -V, --version                Print version [aliases: -!]

Examples:
  hashcalc --text "Hello World"
  hashcalc --text "Hello World" --algorithm md5
  hashcalc --file myfile.txt
  hashcalc --file myfile.txt --algorithm sha512
  hashcalc --file myfile.txt --write
