uuidgen v0.1.0-dev - Generate Unique IDs (UUIDs) with controlled output and formatting
Copyright ┬® 2025-2026 Martin Smith

Usage: uuidgen.exe [OPTIONS]

Options:
  -c, --count <COUNT>
          Number of times to generate [default: 1]
  -t, --uuid-type <UUID_TYPE>
          The type of UUID to generate [default: guid] [possible values: guid, nanoid]
  -v, --guid-version <GUID_VERSION>
          The version of GUID to generate [default: v4] [possible values: v4, v6, v7]
  -l, --nanoid-length <NANOID_LENGTH>
          The size of NanoId to generate [default: 21]
  -y, --non-hyphenated
          Format the GUID without Hyphens (GUID only)
  -u, --uppercase
          Covert the GUID to Upper case values (GUID only)
  -o, --output-template <OUTPUT_TEMPLATE>
          The template to use when writing the output [default: {uuid}]
  -6, --guid-v6-seed <GUID_V6_SEED>
          The seed to use when generating a v6 Guid (6 values) [default: 1,2,3,4,5,6]
  -h, --help
          Print help [aliases: -?]
  -V, --version
          Print version [aliases: -!]

NOTE:
output-template supports: {uuid}, {sequence} dynamic values
(See also : https://github.com/vitiral/strfmt)

Examples:
  uuidgen
  uuidgen --count 5
  uuidgen --count 3 --uppercase
  uuidgen --uuid-type nanoid
  uuidgen --count 5 --output-template "{sequence}: {uuid}"
